@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?csdykf');
  src:  url('fonts/icomoon.eot?csdykf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?csdykf') format('truetype'),
    url('fonts/icomoon.woff?csdykf') format('woff'),
    url('fonts/icomoon.svg?csdykf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cardio:before {
  content: "\e90e";
}
.icon-bird:before {
  content: "\e909";
}
.icon-dog:before {
  content: "\e90a";
}
.icon-medical-services:before {
  content: "\e90b";
}
.icon-stethoscope:before {
  content: "\e90c";
}
.icon-syringe:before {
  content: "\e90d";
}
.icon-clock:before {
  content: "\e908";
}
.icon-nav-arrow-down:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e905";
}
.icon-xmark:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-tiktok:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e900";
}
.icon-pin:before {
  content: "\e901";
}
