@use "../../../dynamics/variables" as vars;

.service-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    .main {
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 250px 1fr;
            height: 100%;
            overflow: hidden;
        }
    }
}

.about-page {
    .main-nav {
        display: flex;
    }
}
