@use "../../../dynamics/variables" as vars;
@use "../../../dynamics/typography/fonts";
@use "../../../dynamics/layouts/alignments/items" as align;
@use "../../../dynamics/components/blocks/general" as blocks;
@use "../../../dynamics/typography/modification" as modification;

.introduction {
    margin-top: vars.$gap-xl;

    .introduction-image,
    .introduction-text {
        padding: 0 vars.$gap-default;
    }

    .introduction-image {
        @media screen and (min-width: 768px) {
            height: 400px;
        }
    }
}
