@use "../../../dynamics/variables" as vars;

.color-primary {
    color: vars.$primary;
}

.color-lightest {
    color: vars.$font-color-lightest;
}

.color-accent-darker {
    color: vars.$accent-darker;
}
