@use "../../../../dynamics/variables" as vars;
@use "../../../../dynamics/typography/fonts";
@use "../../../../dynamics/layouts/alignments/items" as align;
@use "../../../../dynamics/components/blocks/general" as blocks;

.main-nav-wrapper {
    @include align.space-between();
    overflow: unset;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: vars.$bg-default;
    box-shadow: vars.$shadow-default;

    @media screen and (min-width: 992px) {
        margin: vars.$gap-small auto 0;
    }

    &:not(.sticky) .container {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        max-width: unset;
        margin: 0;
        background-color: vars.$bg-lightest;
    }

    .company-logo {
        height: 60px;

        @media screen and (min-width: 992px) {
            height: 80px;
        }
    }

    .link {
        @include fonts.main-medium-font(vars.$font-size-large);
        display: block;
        padding: 8px 16px;
        border-bottom: 1px solid transparent;
        text-transform: capitalize;
        color: vars.$primary;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        color: vars.$accent;

        &:hover,
        &.active {
            border-bottom-color: vars.$accent;
        }
    }
}

.main-nav {
    @media screen and (max-width: 991px) {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        height: 100vh;
        padding-bottom: 16px;
        border-top: vars.$default-border;
        background-color: vars.$bg-lightest;

        .link.active {
            background-color: vars.$accent;
            color: vars.$font-color-lightest;
        }
    }

    @media screen and (min-width: 992px) {
        &.hide {
            display: block !important;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 0;

        @media screen and (min-width: 992px) {
            flex-direction: row;
        }
    }
}

.icon-menu,
.icon-xmark {
    font-size: 26px;
    color: vars.$primary;

    @media screen and (min-width: 992px) {
        display: none;
    }
}

.lang-menu {
    position: absolute;
    top: 88px;
    right: 28px;
    width: 100px;
    text-align: center;
}

.social-nav {
    margin-top: vars.$gap-default;

    @media screen and (min-width: 992px) {
        margin-top: unset;
    }
}
