@use "../../../../dynamics/variables" as vars;
@use "../../../../dynamics/components/blocks/general" as blocks;
@use "../../../../dynamics/typography/fonts";

.main-footer {
    position: relative;
    z-index: 200;
    border-top: 2px solid #c3c3c2;
    background-color: vars.$primary;

    .contact-block {
        padding: 0;
        margin: 0;
    }
    .block {
        height: fit-content;
        border-radius: 0;
    }

    .footer-subtitle {
        @include fonts.main-medium-font(18px);
    }

    .copy-rights {
        padding: vars.$gap-small 0;
        background-color: vars.$primary;
        font-size: 14px;

        .text {
            color: vars.$font-color-light;
        }
    }
}
