@use "../../../../dynamics/variables" as vars;
@use "../../../../dynamics/components/blocks/general" as blocks;
@use "../../../../dynamics/typography/fonts";

.main-footer {
    position: relative;
    z-index: 200;
    border-top: 2px solid #c3c3c2;
    background-color: vars.$accent;

    .footer-main-title,
    .footer-title,
    .footer-subtitle {
        color: vars.$font-color-lightest;
    }

    .footer-main-title {
        @include fonts.main-medium-font(40px);
        color: vars.$font-color-lightest;
    }

    .footer-title {
        @include fonts.main-font(24px);
    }

    .footer-subtitle {
        font-size: vars.$font-size-large;
    }

    .social-list {
        display: flex;
        align-items: center;
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid #fff;
    }

    .link-icon {
        display: inline-block;
        padding: 12px;
        border-radius: vars.$radius-default;
        background: vars.$accent-darker;
        color: vars.$font-color-lightest !important;
        font-size: 20px;

        &:hover {
            &::before {
                color: vars.$font-color-lightest !important;
            }
        }

        &.-small {
            font-size: vars.$font-size-default;
        }
    }

    .contact-link {
        display: flex;
        align-items: center;
        margin-top: vars.$gap-default;
        font-size: vars.$font-size-default;
        color: vars.$font-color-lightest;
    }

    .working-hours {
        font-size: vars.$font-size-default;
    }

    .copy-rights {
        padding: vars.$gap-small 0;
        background-color: vars.$accent-darker;
        font-size: 14px;

        .text {
            color: vars.$font-color-light;
        }
    }
}
