@use "../../../../dynamics/variables" as vars;
@use "../../../../dynamics/typography/fonts";
@use "../../../../dynamics/layouts/alignments/items";

.button-default {
	@include fonts.main-medium-font();
	display: inline-flex;
	align-items: center;
	padding: vars.$gap-default vars.$gap-large;
	border-radius: 38px;
	background-color: vars.$accent;
	border: vars.$default-border;
	color: vars.$font-color-lightest;

	&:hover {
		background-color: vars.$accent-darker;
		color: vars.$font-color-lightest;
	}
}
