$primary: #323232;
$primary-light: #effafd;

$accent: #245f73;
$accent-darker: #143845;

$font-color: #323232;
$font-color-light: #f2f0ef;
$font-color-lightest: #fff;

$bg-default: #f2f0ef;
$bg-lightest: #fff;

$disabled: #8e8f8f;

$font-size-small: 14px;
$font-size-default: 16px;
$font-size-large: 18px;

$gap-default: 16px;
$gap-xs: calc($gap-default / 4);
$gap-small: calc($gap-default / 2);
$gap-large: calc($gap-default * 2);
$gap-xl: calc($gap-default * 4);

$default-border: 1px solid #245f73;
$radius-default: 8px;

$shadow-default: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

$default-transition: 0.3s;
