@use "../../dynamics/variables" as vars;
@use "../../dynamics/components/spacing/padding";
@use "sass:map";

.container {
	@media screen and (max-width: 991px) {
		max-width: 90%;
	}
}

.main-header {
	@include padding.vertical(vars.$gap-large);

	&_title {
		font-size: 34px;
	}
}

.section {
	border-bottom: 1px solid vars.$primary;
}

.section,
.inner-section {
	@include padding.vertical(vars.$gap-large);
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: vars.$gap-default;
	justify-items: left;
	margin-top: vars.$gap-default;

	.box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 32px;
		box-sizing: border-box;
		color: vars.$font-color-light;
		font-weight: 600;
	}

	.-font-color-light {
		color: vars.$font-color;
	}
}

$parameters: (
	primary: (
		colour: vars.$primary
	),
	accent: (
		colour: vars.$accent
	),
	font-color: (
		colour: vars.$font-color
	),
	font-color-light: (
		colour: vars.$font-color-light
	)
);

@mixin generate() {
	@each $parameter, $prop in $parameters {
		$colour: map.get($prop, colour);

		#{".-" + $parameter } {
			background-color: $colour;
			&::before {
				content: "$#{$parameter}";
			}
			&::after {
				content: "#{$colour}";
				margin-top: vars.$gap-small;
			}
		}
	}
}

@include generate();
