ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

ol li {
    list-style-type: decimal;
}

.bullet-list {
    margin-top: 12px;
    padding-left: 24px;
  
    li {
      list-style-type: disc;
    }
  }
  