@use "../../../../dynamics/variables" as vars;

.about {
    position: relative;

    .image {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        transition: filter 0.3s ease;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;

        @media screen and (min-width: 768px) {
            height: 500px;
        }

        &.milos {
            background-image: url(../../assets/images/team/milos.jpg);
            background-image: url(../../assets/images/team/milos.webp);
        }

        &.rale {
            background-image: url(../../assets/images/team/rale.jpg);
            background-image: url(../../assets/images/team/rale.webp);
        }

        &.igor {
            background-image: url(../../assets/images/team/igor.jpg);
            background-image: url(../../assets/images/team/igor.webp);
        }

        &.boskic {
            background-image: url(../../assets/images/team/boskic.jpg);
            background-image: url(../../assets/images/team/boskic.webp);
        }

        &.bilja {
            background-image: url(../../assets/images/team/bilja.jpg);
            background-image: url(../../assets/images/team/bilja.webp);
        }
    }

    .tags-wrapper {
        position: absolute;
        top: 24px;
        left: 24px;

        .tag-default {
            position: relative;
            z-index: 1;
        }

        .tag-top,
        .tag-bottom {
            position: absolute;
            top: 26%;
            right: 29%;
        }
    }

    &:hover {
        .tag-top {
            top: -8px;
            right: -32px;

            @media screen and (min-width: 768px) {
                top: 0;
            }
        }

        .tag-bottom {
            top: unset;
            right: -32px;
            bottom: -8px;

            @media screen and (min-width: 768px) {
                bottom: -3px;
            }
        }
    }
}
