@use "../../../../dynamics/variables" as vars;
@use "../../../../dynamics/typography/fonts";
@use "../../../../dynamics/layouts/alignments/items" as align;
@use "../../../../dynamics/components/blocks/general" as blocks;
@use "../../../../dynamics/typography/modification" as modification;

.background-position-top {
    background-position-y: top !important;
}

.card {
    padding: 0;
    border-radius: 0;

    .card-image {
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(../../assets/images/usluge/ambulanta.jpg);
        background-image: url(../../assets/images/usluge/ambulanta.webp);

        @media screen and (min-width: 768px) {
            height: 400px;
        }

        &.team {
            background-image: url(../../assets/images/team.png);
            background-position-y: top;
        }

        &.milos {
            background-image: url(../../assets/images/team/milos.jpg);
            background-image: url(../../assets/images/team/milos.webp);
        }

        &.rale {
            background-image: url(../../assets/images/team/rale.jpg);
            background-image: url(../../assets/images/team/rale.webp);
        }

        &.igor {
            background-image: url(../../assets/images/team/igor.jpg);
            background-image: url(../../assets/images/team/igor.webp);
        }

        &.boskic {
            background-image: url(../../assets/images/team/boskic.jpg);
            background-image: url(../../assets/images/team/boskic.webp);
        }

        &.bilja {
            background-image: url(../../assets/images/team/bilja.jpg);
            background-image: url(../../assets/images/team/bilja.webp);
        }

        &.pharma {
            background-image: url(../../assets/images/slider/pharma.jpg);
            background-image: url(../../assets/images/slider/pharma.webp);
        }

        &.hotel {
            background-image: url(../../assets/images/usluge/cat-hotel-4.jpg);
            background-image: url(../../assets/images/usluge/cat-hotel-4.webp);
        }

        &.grooming {
            background-image: url(../../assets/images/usluge/grooming.jpg);
            background-image: url(../../assets/images/usluge/grooming.webp);
        }

        &.laboratorija {
            background-image: url(../../assets/images/usluge/lab.jpg);
            background-image: url(../../assets/images/usluge/lab.webp);
        }

        &.ultrazvuk {
            background-image: url(../../assets/images/usluge/porodiljski.jpg);
            background-image: url(../../assets/images/usluge/porodiljski.webp);
        }

        &.egzoticne-zivotinje {
            background-image: url(../../assets/images/usluge/ptica.jpg);
            background-image: url(../../assets/images/usluge/ptica.webp);
        }
    }
}
