@use "../../../dynamics/variables" as vars;

.display-flex {
    display: flex;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center-fully {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hide {
    display: none !important;
}

.show-on-mobile {
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.show-on-tablet {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.hide-on-desktop {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.show-on-desktop {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;
    }
}
.fit-content {
    width: fit-content;
}

.w-100 {
    width: 100%;
}

.w-300 {
    width: 300px;
}

.lead {
    max-width: 700px;
}
