@use "../../../dynamics/components/spacing/classes";
@use "sass:map";

@include classes.generate();

.mt-lg-0 {
    @media screen and (min-width: 992px) {
        margin-top: 0;
    }
}

.height-100 {
    height: 100%;
}
