@use "../../../../dynamics/variables" as vars;
@use "../../../../dynamics/layouts/positions/absolute";
@use "../../../../dynamics/layouts/alignments/items" as align;
@use "../../../../dynamics/components/blocks/general" as blocks;
@use "../../../../dynamics/typography/fonts";

.hero {
  display: flex;
  align-items: end;
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding-bottom: vars.$gap-large;

  .hero-image {
    @include absolute.position();
    z-index: -1;
    background-image: url(../../assets/images/slider/pharma.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: hero-image 10s infinite;

    @media screen and (min-width: 768px) {
      background-image: url(../../assets/images/slider/home-hero.jpg);
    }
  }

  .hero-title,
  .hero-subtitle {
    color: vars.$font-color-lightest;
  }

  .hero-title {
    @include fonts.main-medium-font(22px);
    display: inline-block;
    border-bottom: 3px solid #fff;

    @media screen and (min-width: 768px) {
      font-size: 60px;
    }
  }

  .hero-subtitle {
    @include fonts.main-medium-font(22px);
    display: block;
  }
}

.slide-home-hero {
  background-image: url("../../assets/images/slider/home-hero-mobile.jpg");
  background-image: url("../../assets/images/slider/home-hero-mobile.webp");

  @media (min-width: 768px) {
    background-image: url("../../assets/images/slider/home-hero.jpg");
    background-image: url("../../assets/images/slider/home-hero.webp");
  }
}

.slide-pharma {
  background-image: url("../../assets/images/slider/pharma-mobile.jpg");
  background-image: url("../../assets/images/slider/pharma-mobile.webp");

  @media (min-width: 768px) {
    background-image: url("../../assets/images/slider/pharma.jpg");
    background-image: url("../../assets/images/slider/pharma.webp");
  }
}

.slide-waiting-room {
  background-image: url("../../assets/images/slider/waiting-room-mobile.jpg");
  background-image: url("../../assets/images/slider/waiting-room-mobile.webp");

  @media (min-width: 768px) {
    background-image: url("../../assets/images/slider/waiting-room.jpg");
    background-image: url("../../assets/images/slider/waiting-room.webp");
  }
}

// .slide-grooming {
//   background-image: url("../../assets/images/slider/grooming-mobile.jpg");
//   background-image: url("../../assets/images/slider/grooming-mobile.webp");

//   @media (min-width: 768px) {
//     background-image: url("../../assets/images/slider/grooming.jpg");
//     background-image: url("../../assets/images/slider/grooming.webp");
//   }
// }

.slide-cat-hotel {
  background-image: url("../../assets/images/slider/cat-hotel-mobile.jpg");
  background-image: url("../../assets/images/slider/cat-hotel-mobile.webp");

  @media (min-width: 768px) {
    background-image: url("../../assets/images/slider/cat-hotel.jpg");
    background-image: url("../../assets/images/slider/cat-hotel.webp");
  }
}

@keyframes hero-image {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.hero-slider {
  @include absolute.position();
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.hero-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fade-zoom 20s infinite;
}

.hero-slide:nth-child(1) {
  animation-delay: 0s;
}
.hero-slide:nth-child(2) {
  animation-delay: 5s;
}
.hero-slide:nth-child(3) {
  animation-delay: 10s;
}
.hero-slide:nth-child(4) {
  animation-delay: 15s;
}

@keyframes fade-zoom {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  5% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: scale(1);
  }
  38% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
